node_modules
.next
npm-debug.log
yarn-error.log
.settings
targets
.classpath
.factorypath
.project
.env

# Editor directories and files
.idea
.vscode

.ssh
/.metadata/
.metadata



HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

package.json
package-lock.json