body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Noto Sans KR", sans-serif;
}

.carousel-item { 
  width: 100%; 
  height: 100%;
}
.carousel-item :active{
  width: 100%; 
  height: 100%;
}
.carousel-inner{
  width: 100%; 
  height: 100%;
}
#porductdetailcontent img{
  width:100%;
}